extends @views/layouts/default

block variables
  - title = 'Markdown'

append style
  link(rel='stylesheet' href='./styles.scss')

block content
  section
    h1.center-x Markdown
    .markdown-body
      include:markdown ./README.md
