extends ../../layouts/layout.default

block variables
  - const title = 'About'

apend style
  link(rel='stylesheet' href=require('./styles.scss'))

apend script
  script(src=require('./main.js'))

block content
  h1 About page
