.header-container
  .header-content
    a(href="index.html").header-left
      img.app-logo(src='@images/netflix-desktop.svg')
      //span App demo
    .header-middle
      a(href="index.html") Home
      a(href="contacts.html") Contacts
      //a(href="icons.html") Icons
      //a(href="markdown.html") Markdown
      //a(href="recipes.html") Recipes
      //a(href="404.html") 404
    .header-right
