.header-container
  .header-content
    a(href="index.html").header-left
      img.app-logo(src=require('~Images/app-logo.svg'))
      span App demo
    .header-middle
      a(href="index.html") Home
      a(href="icons.html") Icons
      a(href="markdown.html") Markdown
      a(href="recipes.html") Recipes
      a(href="404.html") 404
    .header-right
